<template>
  <div class="snake">
    dir: [ {{ dir[0] }}, {{ dir[1] }} ]
    pos: [ {{ cells[0].pos[0] }}, {{ cells[0].pos[1] }} ]
    <input type="text" autofocus @keypress.prevent="handleKeys">
    <SnakeGrid>
      <SnakeCell v-for="(c, i) in cells"
                 :key="i"
                 :c="c"
      />
      <SnakeTreat
              :treat="treat"
      />
    </SnakeGrid>
  </div>
</template>

<script lang="ts">
  // @ is an alias to /src
  import SnakeGrid from '@/components/SnakeGrid.vue'
  import Vue from "vue";
  import SnakeCell from "@/components/SnakeCell.vue";
  import SnakeTreat from "@/components/SnakeTreat.vue";
  import conf from "@/utils/config";

  function makeCell(x = 0, y = 0) {
    return {
      pos: [x, y] as IPoint
    };
  }

  function makeTreat() {
    return {
      pos: [
        Math.floor(Math.random() * conf.gridSize[0]),
        Math.floor(Math.random() * conf.gridSize[1])
      ] as IPoint,
    }
  }

  export default Vue.extend({
    name: 'Snake',
    components: {
      SnakeGrid, SnakeCell, SnakeTreat
    },
    data() {
      return {
        dir: [1, 0] as IPoint,
        cells: [
          makeCell(),
          makeCell(),
          makeCell(),
        ],
        treat: makeTreat(),
        i: 0,
      };
    },
    mounted() {
      this.i = setInterval(() => {
        this.moveSnake();

      }, 100);
    },
    methods: {
      moveSnake() {
        let cachePos: IPoint;
        this.cells.forEach(c => {
          if (!cachePos) {
            // first iteration
            cachePos = c.pos;
            const newPos = [
              c.pos[0] + this.dir[0],
              c.pos[1] + this.dir[1],
            ] as IPoint;

            if (newPos[0] > conf.gridSize[0] - 1) {
              newPos[0] = 0;
            }
            if (newPos[1] > conf.gridSize[1] - 1) {
              newPos[1] = 0;
            }
            if (newPos[0] < 0) {
              newPos[0] = conf.gridSize[0] - 1;
            }
            if (newPos[1] < 0) {
              newPos[1] = conf.gridSize[1] - 1;
            }

            c.pos = newPos;
          } else {
            // rest of cells
            const tmp = c.pos;
            c.pos = [cachePos[0], cachePos[1]];
            cachePos = tmp;
          }
        });

        if (this.cells[0].pos[0] === this.treat.pos[0]
         && this.cells[0].pos[1] === this.treat.pos[1]) {
          const [x, y] = this.cells[this.cells.length - 1].pos;
          this.treat = makeTreat();
          this.cells.push(makeCell(x, y));
        }
      },
      handleKeys(e: KeyboardEvent) {
        switch (e.key) {
          case "w":
            this.dir = [0, -1];
            break;
          case "d":
            this.dir = [1, 0];
            break;
          case "s":
            this.dir = [0, 1];
            break;
          case "a":
            this.dir = [-1, 0];
            break;
        }
      }
    }
  });
</script>
