<script lang="ts">
    import Vue from "vue";

    import conf from "@/utils/config";

    export default Vue.extend({
        props: {
            treat: Object
        },
        computed: {
            style() {
                const [x, y] = this.treat.pos;
                return {
                    left: `${x * conf.cellWidth}px`,
                    top: `${y * conf.cellWidth}px`,
                };
            },
        }
    });
</script>

<template>
    <div class="snake-treat" :style="style"></div>
</template>

<style lang="scss">

    @import "~@/css/variables";

    .snake-treat {
        width: $cell-width - 2px;
        height: $cell-width - 2px;
        border: 1px solid gray;
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
    }
</style>