<script lang="ts">
    import Vue from 'vue';


    export default Vue.extend({
        data() {
            return {
            };
        },
        methods: {
        }
    });
</script>

<template>
    <div class="snake-grid">
        <slot></slot>
    </div>
</template>

<style lang="scss">

    @import "~@/css/variables";
    .snake-grid {
        width: $cell-width * nth($grid-size, 1);
        height: $cell-width * nth($grid-size, 2);
        border: 1px solid black;
        background-color: lightgray;
        position: relative;
    }

</style>